.ideas-table {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  overflow-x: auto; /* Aggiunge lo scroll orizzontale se necessario */
}

.ideas-table h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.ideas-table table {
  width: 100%;
  table-layout: fixed; /* Impone larghezza uniforme alle colonne */
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  word-wrap: break-word; /* Permette al testo di andare a capo nelle celle */
}

.ideas-table th,
.ideas-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word; /* Aggiunge la gestione del ritorno a capo nelle celle */
  text-align: center;
}

.ideas-table th {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

.ideas-table td {
  background-color: #fff;
}

.ideas-table button {
  padding: 0px 8px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20pt;
}

.ideas-table button:hover {
  background-color: #45a049;
}

.ideas-table button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.ideas-table button.red {
  background-color: #E53935;
}

.ideas-table tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  
  .ideas-table th, 
  .ideas-table td {
    padding: 8px 10px; /* Riduce la dimensione del padding su schermi piccoli */
  }
}
